#container{
    width: 400px;
    padding: 20px;
    background-color: rgb(10, 10, 10);
    font-size: medium;
    
    
}

input{
    width: 100%;
    box-sizing: border-box;
    padding: 5px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;

}

body{
    background-color: rgb(233, 231, 231);
   
}

ul,li{
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.list{
    margin: 16px 0;

}

.list>li{
    background-color: rgba(64, 61, 71);
    padding: 5px;
    margin-bottom: 3px;
    display: flex;
    justify-content: space-between;
    color: rgb(253, 253, 253);
    padding-left: 15px;
    
    
    border-radius: 10px 00px 00px 30px;
    
}



.btn{
    
    display: flex;
    justify-content: flex-end;
    padding: 5px;
   

}

.btn>button{
    padding: 5px;
    background-color: rgb(64, 61, 71);
    color: aliceblue;
    
    
}

.baslik{
    text-align: center;
    color: rgb(253, 253, 253);
}

.total{
    font-size: medium;
    font-weight: 900;
    color: rgb(253, 253, 253);
    
}
